* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f2f2;
}

header {
    background: #111;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.products {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.product {
    background: white;
    width: 220px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.product img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.product h3 {
    margin: 10px 0;
}

.product button {
    padding: 8px;
    width: 100%;
    background: #0d6efd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product button:hover {
    background: #084298;
}

.cart-section {
    background: white;
    margin: 20px auto;
    width: 60%;
    padding: 15px;
    border-radius: 10px;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.remove {
    color: red;
    cursor: pointer;
}